@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1E1E1E;
    color: #5d5d5d;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #393E46;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5C5C5C;
  }
  @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.25s ease-out;
}
